body {
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    font-family: 'Poppins', sans-serif;
}

.conteneur {
    max-width: 1285px;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.title{
    font-size: 3rem;  /* Taille du texte */
    font-weight: bold;  /* Texte en gras */
    color: #c8ad7f;  /* Couleur vive (orange-rouge) */
    text-transform: uppercase;  /* Mettre le texte en majuscules */
    letter-spacing: 2px;  /* Espacement entre les lettres */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);  /* Ombre douce */
    background: linear-gradient(45deg, #ff6f61, #ff914d);  /* Dégradé lumineux */
    -webkit-background-clip: text;  /* Appliquer le dégradé sur le texte */
    background-clip: text;
    padding: 10px 20px;  /* Espacement autour du titre */
    border-radius: 8px;  /* Coins arrondis */
    transition: transform 0.3s ease, color 0.3s ease;  /* Animation de transition */
  }
  
.title:hover {
    transform: scale(1.1);  /* Agrandir le titre au survol */
    color: #333;  /* Changer la couleur du texte lors du survol */
  }
  

.cbp-rfgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.cbp-rfgrid li {
    position: relative;
    width: 250px;
}

.cbp-rfgrid li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.cbp-rfgrid li a img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de la transition */
}

.cbp-rfgrid li a:hover img {
    transform: scale(1.1); /* Agrandir l'image au survol */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Ajouter une ombre pour faire ressortir l'image */
}

.cbp-rfgrid li a div {
    position: absolute;
    inset: 20px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.cbp-rfgrid li a:hover div {
    opacity: 1;
}

.cbp-rfgrid li a div h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
}

.poste {
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    border-radius: 5%;
}

.citation {
    max-width: 60%;
}


@media screen and (max-width: 970px) {
    .conteneur {
        max-width: 640px;
    }
    .cbp-rfgrid li {
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    .conteneur {
        max-width: 290px;
    }
    .cbp-rfgrid {
        flex-direction: column;
        align-items: center;
    }
    .cbp-rfgrid li {
        width: 100%;
    }
}